<div class="navbar navbar-inverse" role="navigation">

    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{url_for('profile',uname=current_user.username)}}">My Profile</a></li>
        {% else %}
        <li><a href="{{url_for('auth.login')}}">My Profile</a></li>
        {%endif%}
        <li><a href="{{url_for('auth.new_pitch')}}">Submit Pitch</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-left">
        {% if current_user.is_authenticated %}

        <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
        {% else %}
        <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
        {%endif%}
    </ul>
</div>